https://witty-wave-0c76eee0f.5.azurestaticapps.net {
    reverse_proxy localhost:3000
    tls /path/to/reverse-proxy/witty-wave-0c76eee0f.5.azurestaticapps.net.pem /path/to/reverse-proxy/witty-wave-0c76eee0f.5.azurestaticapps.net-key.pem
}